OPENAI_API_KEY=<your_openai_api_key_here>

# MCP Server Configuration
MCP_SERVER_URL=<lunarcrush-mcp-server-url>

MODEL_NAME=gpt-4o-mini
LLM_PROMPT=Give me the top 3 cryptocurrencies based on social sentiments
